<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Страница с таблицей</title>
  </head>
  <body>
    <h1>Таблица типа</h1>

    <div class="users">

      {% if users %}

      <form method="post">
        {% csrf_token %}
        {{ user_filter_choice }}
        <input type="submit" value="Отфильтровать">
      </form>

        <table>
          <thead>
            <th>Пользователь</th>
            <th>Название</th>
            <th>Текст</th>
          </thead>

          {% for pos in posts %}
          <tr>
            <td>{{ pos.userId }}</td>
            <td>{{ pos.title }}</td>
            <td>{{ pos.body }}</td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Ничо нет</p>
      {% endif %}
    </div>
  </body>
</html>
